@import '../variables.scss';



h1{
    letter-spacing: 0.1rem;
    
}

.landing__destacado{
    color: $mar-ermo;
    font-weight: 500;
}

p{
    color: #393939;
    font-size: 1.125rem;
    line-height: 1.4rem;
            @include media600px {
            // font-size: 1.125rem;
            // line-height: 1.4rem;
            }
}

.btn_landing{
    max-width: 200px;
    margin: inherit;
    margin-top: 10px;

    .button{
        background-color: $azul-ermo;
        &:hover{
            background-color: $mar-ermo;
            border-color: $mar-ermo;
        }

        p{
            color: $blanco-ermo;
        }

        .arrow__svg {
            fill: $blanco-ermo;
        }
    }
}

.button__mobile{
    @include media600px {
            padding-left: 3vw;
            }
}

.button_2{
    display: flex;
    gap: 14px;
}




.intro-landing__master{
    margin-top: 180px;

            @include media1200px {
            margin-top: 150px;
            }

            @include media600px {
            padding-left: 3vw;
            padding-right: 3vw;
            margin-top: 120px;
            }

    .intro-landing__content{
        display: flex;
        margin-top: 60px;

            @include media1200px {
            margin-top: 40px;
            }

            @include media600px {
            display: block;
            margin-top: 40px;
            }
    }

    .intro-landing__text{
        width: 46vw;
        margin-right: 40px;

            @include media700px {
            width: 100%;
            margin-right: 0px;
            }

        .intro-landing__big{
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 30px;
            line-height: 1.9rem;

            @include media800px {
            font-size: 1.4rem;
            line-height: 1.6rem;
            }

            @include media600px {
            font-size: 1.2rem;
            line-height: 1.4rem;
            }
        }

        .intro-landing__texto-op{
            @include media800px {
            display: none;
            }
        }
    }

    .intro-landing__img{
        height: auto;
        width: 40vw;
        object-fit: cover;

        .intro-video{
           aspect-ratio: 4/5;
            max-width: 100%;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }

            @include media700px {
            display: none;
            }
    }

    .intro-landing-mobile__img{
        height: auto;
        width: 100%;
        object-fit: cover;
        display: none;
        margin-top: 30px;
        margin-bottom: 30px;

        .intro-video{
            aspect-ratio: 4/5;
            max-width: 400px;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

            @include media700px {
            display: block;
            }
    }

    .intro-landing__line{
        height: 1px;
        width: 100%;
        background: rgba(0,0,0,1); // color editable
        margin: 5rem 0 1rem 0;
    }

    .intro-landing__valora{
        p{
            font-size: 0.8rem;
            line-height: 1rem;
            margin-bottom: 10px;
        }

        a{
            color: $azul-ermo;
            font-size: 0.8rem;
            font-family: $neue;
            letter-spacing: -0.3px;
            text-decoration: underline;
        }
    }


        .intro-landing-mobile__video {
        width: 100%;
        aspect-ratio: 4/5;
        margin: 30px 0;
        display: none;

        @include media700px { display: block; }
        }

        .yt-poster {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            display: block;
        }

        .yt-play {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background: rgba(0,0,0,.5);
            color: #fff;
            font-size: 28px;
            line-height: 68px;
            text-align: center;
            backdrop-filter: blur(4px);
        }
        }

        .yt-embed {
        width: 100%;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: 20px;
        }
        }

        .yt-open {
        display: inline-block;
        margin-top: 8px;
        font-size: .85rem;
        text-decoration: underline;
        color: $azul-ermo;
        }

    
}




.ventajas__master{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;

            @include media700px {
            grid-template-columns: repeat(2, 1fr);
            }

            @include media500px {
            grid-template-columns: repeat(1, 1fr);
            padding-left: 3vw;
            padding-right: 3vw;
            }

    .ventajas__element{
        width: 100%;
        max-width: 33vw;
            
        @include media700px {
            max-width: 100%;
        }

        .ventajas__element-img{
            height: auto;
            width: 100%;
            max-width: 30vw;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            margin-bottom: 25px;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }

                @include media700px {
                    max-width: 100%;
                }

                @include media500px {
                    aspect-ratio: 16 / 8;
                }
            }

        h3{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
        }
    }
}




.grid__master{
    margin-top: 200px;

        @include media800px {
            margin-top: 150px;
        }

            @include media500px {
            padding-left: 3vw;
            padding-right: 3vw;
        }
    
    h2{
        font-size: 64px;
        font-weight: 400;
        font-family: $owners;
        text-transform: uppercase;
        color: $azul-ermo;
        text-align: left;
        line-height: 58pt;
        letter-spacing: 1px;
        max-width: 700px;

        @include media1200px {
            font-size: 40pt;
            line-height: 50pt;
        }

        @include media800px {
            font-size: 2.7rem;
            line-height: 2.8rem;
        }
    }

    h3{
            font-family: $neue;
            color: #393939;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
            margin-top: 20px;
        }

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.125rem;
        margin-top: 60px;

           @include media1000px {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 0.6rem;
            }

            @include media800px {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 0.6rem;
            }

        .grid__element{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            min-height: 150px;
            background-color: $nardo;
            border-radius: 15px;
            padding: 2rem;
                    @include media600px {
                        padding: 1.3rem;
                        height: auto;
                    }

            h4{
                font-size: 1.4rem;
                line-height: 1.6rem;
                max-width: 50vw;
                        @include media1000px {
                        // font-size: 1.3rem;
                        // line-height: 1.3rem;
                        }

            }

            p{
                line-height: 1.4rem;
                margin-top: 40px;
                        @include media600px {
                                margin-top: 20px;
                            }
            }

            .grid__element-img{
                margin-bottom: 20px;
            }

    
        }

        .grid__element-delete{
                        @include media800px {
                    display: none;
                }
            }
       

        .grid__element-grey{
            background-color: #393939;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 200px;
            border-radius: 15px;
            padding: 2rem;
                    @include media600px {
                        padding: 1.3rem;
                        height: auto;
                        min-height: 200px;
                    }

            p{
                color: $blanco-ermo;
                text-transform: uppercase;
                font-size: 2.5rem;
                font-weight: 200;
                line-height: 2.3rem;
                        @include media600px {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                        }
            }
        }
    }


}









.precios__master{
    margin-top: 200px;
            
    

    h2{
        font-size: 72px;
        font-weight: 400;
        font-family: $owners;
        text-transform: uppercase;
        color: $azul-ermo;
        text-align: left;
        line-height: 64pt;
        letter-spacing: 1px;
                @include media1200px {
                    font-size: 40pt;
                    line-height: 50pt;
                }
                @include media800px {
                    font-size: 35pt;
                    line-height: 40pt;
                }
                @include media600px {
                    padding-left: 3vw;
                    padding-right: 3vw;
                }
    }

    h3{
            font-family: $neue;
            color: #393939;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
            margin-top: 20px;
            @include media600px {
                    padding-left: 3vw;
                    padding-right: 3vw;
                }
        }

    h4{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 30px;
            line-height: 1.8rem;
            text-align: center;
        }

    h5{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 3rem;
            line-height: 1.8rem;
            text-align: center;

            .little{
                font-size: 1.4rem;
            }

    }

    

    li{
        font-family: $neue;
        color: #393939;
        letter-spacing: -0.5px;
        font-size: 1rem;
        line-height: 1.1rem;
        text-align: center;
        margin-bottom: 14px;
                @include media600px {
                            font-size: 1rem;
                            line-height: 1rem;
                        }
        
}



  

    .precios__slider{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 50px;
        margin-bottom: 120px;

                @include media900px{
                    grid-template-columns: repeat(2, 1fr);
                }

                @include media600px {
                    display: flex;
                    grid-template-columns: none;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    -webkit-overflow-scrolling: touch;
                    gap: 0rem;
                }

            .slide{
                background-color: $nardo;
                height: 650px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2.3rem;
                border-radius: 20px;
                

                @include media600px {
                    flex: 0 0 100%;
                    scroll-snap-align: center;
                    width: 100%;
                    max-width: 60vw;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                
            }

            .slide-blue{
                background-color: $mar-ermo;
                h4{
                    color: $blanco-ermo;
                }
                li{
                    color: $blanco-ermo;
                }
                .amarillo{
                color: #F4FF5C;
                font-size: 1.1rem;
            }
                .button{
                    background-color: $blanco-ermo;
                    width: 100%;
                    border-color: $mar-ermo;
                            @include media600px {
                            width: auto;
                            }
                    p{
                        color: $azul-ermo;
                    }
                    .arrow__svg {
                        fill: $azul-ermo;
                    }
                    &:hover{
                        background-color: $azul-ermo;
                        p{
                            color: $blanco-ermo;
                        }
                        .arrow__svg {
                            fill: $blanco-ermo;
                        }
                    }
                }
            }

            .aviso{
                text-align: center;
                font-size: 0.8rem;
                margin-bottom: 20px;
                margin-top: 10px;
                color: #838383;
                line-height: 1rem;
            }

            .confi_precio{
                color: $blanco-ermo;
            }

            .confi_aviso{
                color: #BCC2FA;
            }
            
            .azul{
                color: $azul-ermo;
                font-size: 1rem;
            }

            .rojo{
                color: #ec6c04;
                font-size: 1rem;
            }
           
    }

    .stripe{
        width: 30vw;
        max-width: 200px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }



    .pagos__master{

        display: flex;
        gap: 40px;
            @include media800px {
                            display: block;
                            padding-left: 3vw;
                            padding-right: 3vw;
                        }

        h4{
            text-align: left;
            margin-bottom: 5px;
            margin-top: 20px;
        }

        p{
            margin-bottom: 25px;
        }

        .pagos__text{
            width: 100%;
            max-width: 40vw;
                @include media800px {
                            max-width: 100%;
                        }
        }

        .pagos__img{
        height: auto;
        width: 40vw;
        aspect-ratio: 16 / 9;
        object-fit: cover;
                @include media800px {
                        aspect-ratio: 16 / 9;
                        width: 100%;
                    }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-position: bottom;
        }
    }
    }

}




.dudas__master{

    margin-top: 200px;
    margin-bottom: 100px;
            @include media600px {
                    padding-left: 3vw;
                    padding-right: 3vw;
                }

    .dudas__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 50px;
                

        .duda{
            width: 80%;
                @include media600px {
                        width: 100%;
                    }

            .duda__num{
                font-family: $neue;
                font-size: 3rem;
            }

        }

    }

    h2{
        font-size: 72px;
        font-weight: 400;
        font-family: $owners;
        text-transform: uppercase;
        color: $azul-ermo;
        text-align: left;
        line-height: 64pt;
        letter-spacing: 1px;

        @include media1200px {
            font-size: 40pt;
            line-height: 50pt;
        }

        @include media800px {
            font-size: 35pt;
            line-height: 40pt;
        }
    }

    h3{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
            margin-top: 20px;
        }
}




.plantitas{
    height: auto;
        width: 100%;
        aspect-ratio: 16 / 5;
        object-fit: cover;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
}



.btn_confi{
    display: flex;
    margin: auto;
}











/* Proceso (sección de pasos) */
.proceso {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 24px;
    align-items: start;
    margin-top: 48px;
    align-items: start;

           @include media800px {
                            display: block;
                        }
        
        .tabs {
          display: grid;
          gap: 12px;
          @include media800px {
                            display: block;
                        }
        }
        .tab {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 8px;
          padding: 14px 18px;
          border-radius: 30px;
          border: 0;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: $owners;
          font-weight: 400;
          background: #eef1f6;
          color: #9aa3b2;
          cursor: pointer;
          transition: .2s ease, color .2s ease, transform .2s ease;

            &:hover{
                transform: translateY(-3px);
                background-color: #ced4e0;
            }

            &.active{
                background: #3F52FF;
                color: #fff;
            }
        }


        .card {
          background: $nardo;
          border-radius: 20px;
          padding: 28px;

            h3 {
            margin: 0 0 12px;
            color: #3F52FF;
            font-size: 24px;
            line-height: 1.2;
            max-width: 400px;
            font-family: $neue;
            font-weight: 400;
            letter-spacing: -0.6px;
            }
            p {
            margin-top: 24px;
            color: #333;
            font-size: 1.125rem;
            line-height: 1.6rem;
            font-family: $neue;
            font-weight: 400;
            }
        }
         

        .cred {
          display: flex;
          align-items: center;
          gap: 12px;
          margin-top: 16px;
        }

        .avatars {
          display: flex;
        }

        .stack {
          display: block;
          width: 24px;
          height: 24px;
          border-radius: 30px;
          overflow: hidden;
          border: 2px solid #fff;
          margin-left: -8px;

          &:first-child { margin-left: 0; }
        }

       

        .pill {
          background: #ffffff;
          border: 1px solid #D7D7D7;
          padding: 2px 12px 2px 4px;
          border-radius: 30px;
          
          font-family: $neue;
          letter-spacing: -0.2px;
          color: #333;
          white-space: nowrap;
          display: flex;

          p{
            margin-top: 3px;
            margin-left: 10px;
            font-size: 0.9rem;
          }
        }


 /* ≤800px: tabs arriba con scroll horizontal */
@include media800px {

  .tabs {
    display: flex;
    gap: 12px;
    padding: 6px 8px;
    margin-bottom: 8px;

    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
    touch-action: pan-x;
    overscroll-behavior-x: contain;

    &::-webkit-scrollbar { display: none; }
    scrollbar-width: none;
  }

  .tab {
    flex: 0 0 auto;
    min-width: max-content;
    justify-content: center;
    scroll-snap-align: start;
  }
}

}




.calculadora{

    .calc__description{
            max-width: 600px;
        margin-top: 24px;
        margin-bottom: 36px;
        }
}








.exito__master-new{

    display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
        row-gap: 10px;
        margin-top: 60px;

                @include media1100px {
                         gap: 40px;
                        }

                   @include media700px {
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        padding-left: 3vw;
                        padding-right: 3vw;
                        }
}


/* exito.scss ---------------------------------------------------------- */
.exito {
  position: relative;
  width: 100%;               /* ajusta a tu grid */
  aspect-ratio: 3/4;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 20px 36px rgba(0, 0, 0, .15);
  gap: 10px;

                     @include media800px {
                            aspect-ratio: 4/5;
                        }

  /* ---------- vídeo de fondo ---------- */
  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

   &::after {
    content: '';
    position: absolute;
    inset: 0;                            
    backdrop-filter: blur(24px);        
    -webkit-backdrop-filter: blur(24px);

    /* La máscara hace que el efecto solo se note
       del 100 % (abajo) al 50 % (mitad) y
       se desvanezca progresivamente hacia arriba   */
    mask-image: linear-gradient(to top,
                 #000 0%,               
                 #000 30%,
                 #0000 70%,            
                 #0000 100%);       
    -webkit-mask-image: linear-gradient(to top,
                 #000 0%, #000 10vh, #0000 25vh, #0000 100%);

    pointer-events: none;             
  }

  /* ---------- panel inferior ---------- */
  &__info {
    position: absolute;          
    margin-top: auto;             
    padding: 24px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #ffffff;
    z-index: 1;    
    top: auto;             
    bottom: 0px;
    width: 90%;

    
  }


  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__logo { 
    max-width: 180px;
    height: auto;
    
                     @include media900px {
                            display: none;
                        }

                     @include media700px {
                            display: block;
                            width: 140px;
                        }
    }

  /* ---------- Responsive ---------- */
  @media (max-width: 600px) {
    width: 100%;
    border-radius: 24px;

    &__info { padding: 20px 20px 28px; }
  }


}

  .exito__review{
    color: $gris-oscuro;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 10px;
    margin-top: 30px;
                         @include media800px {
                            margin-bottom: 15px;
                        }
  }
