@import '../variables.scss';

h1{
    letter-spacing: 0.1rem;
    
}

.jardin__destacado{
    color: $mar-ermo;
    font-weight: 500;
}

p{
    color: #393939;
    font-size: 1.1rem;
    line-height: 1.2rem;
            @include media600px {
            font-size: 1rem;
            line-height: 1.1rem;
            }
}

.btn_jardin{
    max-width: 200px;
    margin: inherit;
    margin-top: 10px;

    .button{
        background-color: $azul-ermo;
        &:hover{
            background-color: $mar-ermo;
            border-color: $mar-ermo;
        }

        p{
            color: $blanco-ermo;
        }

        .arrow__svg {
            fill: $blanco-ermo;
        }
    }
}

.button__mobile{
    @include media600px {
            padding-left: 3vw;
            }
}





.intro-jardin__master{
    margin-top: 200px;
            @include media600px {
            padding-left: 3vw;
            padding-right: 3vw;
            margin-top: 120px;
            }

    .intro-jardin__content{
        display: flex;
        margin-top: 90px;

            @include media600px {
            display: block;
            margin-top: 40px;
            }
    }

    .intro-jardin__text{
        width: 46vw;
        margin-right: 40px;

            @include media700px {
            width: 100%;
            }

        .intro-jardin__big{
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 30px;

            @include media700px {
            font-size: 1.4rem;
            line-height: 1.5rem;
            }
        }
    }

    .intro-jardin__img{
        height: auto;
        width: 40vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }

            @include media600px {
            display: none;
            }
    }
    
}




.ventajas__master{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;

            @include media700px {
            grid-template-columns: repeat(2, 1fr);
            }

            @include media500px {
            grid-template-columns: repeat(1, 1fr);
            padding-left: 3vw;
            padding-right: 3vw;
            }

    .ventajas__element{
        width: 100%;
        max-width: 33vw;
            
        @include media700px {
            max-width: 100%;
        }

        .ventajas__element-img{
            height: auto;
            width: 100%;
            max-width: 30vw;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            margin-bottom: 25px;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 25px;
                }

                @include media700px {
                    max-width: 100%;
                }

                @include media500px {
                    aspect-ratio: 16 / 8;
                }
            }

        h3{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
        }
    }
}




.grid__master{
    margin-top: 200px;

            @include media500px {
            padding-left: 3vw;
            padding-right: 3vw;
        }
    
    h2{
        font-size: 72px;
        font-weight: 400;
        font-family: $owners;
        text-transform: uppercase;
        color: $azul-ermo;
        text-align: left;
        line-height: 64pt;
        letter-spacing: 1px;

        @include media1200px {
            font-size: 40pt;
            line-height: 50pt;
        }

        @include media800px {
            font-size: 35pt;
            line-height: 40pt;
        }
    }

    h3{
            font-family: $neue;
            color: #393939;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
            margin-top: 20px;
        }

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 60px;

           @include media1000px {
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 0.6rem;
            }

        .grid__element{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 200px;
            background-color: $nardo;
            border-radius: 15px;
            padding: 2rem;
                    @include media600px {
                        padding: 1.3rem;
                        height: auto;
                    }

            h4{
                font-size: 1.4rem;
                line-height: 1.6rem;
                        @include media1000px {
                        font-size: 1.3rem;
                        line-height: 1.3rem;
                        }

            }

            p{
                line-height: 1.1rem;
                        @include media600px {
                                margin-top: 20px;
                            }
            }
        }

        .grid__element-grey{
            background-color: #393939;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 200px;
            border-radius: 15px;
            padding: 2rem;
                    @include media600px {
                        padding: 1.3rem;
                        height: auto;
                        min-height: 200px;
                    }

            p{
                color: $blanco-ermo;
                text-transform: uppercase;
                font-size: 2.5rem;
                font-weight: 200;
                line-height: 2.3rem;
                        @include media600px {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                        }
            }
        }
    }


}









.precios__master{
    margin-top: 200px;
            
    

    h2{
        font-size: 72px;
        font-weight: 400;
        font-family: $owners;
        text-transform: uppercase;
        color: $azul-ermo;
        text-align: left;
        line-height: 64pt;
        letter-spacing: 1px;
                @include media1200px {
                    font-size: 40pt;
                    line-height: 50pt;
                }
                @include media800px {
                    font-size: 35pt;
                    line-height: 40pt;
                }
                @include media600px {
                    padding-left: 3vw;
                    padding-right: 3vw;
                }
    }

    h3{
            font-family: $neue;
            color: #393939;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
            margin-top: 20px;
            @include media600px {
                    padding-left: 3vw;
                    padding-right: 3vw;
                }
        }

    h4{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 30px;
            line-height: 1.8rem;
            text-align: center;
        }

    h5{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 3rem;
            line-height: 1.8rem;
            text-align: center;

            .little{
                font-size: 1.4rem;
            }

    }

    

    li{
        font-family: $neue;
        color: #393939;
        letter-spacing: -0.5px;
        font-size: 0.9rem;
        line-height: 1rem;
        text-align: center;
        margin-bottom: 14px;
        
}



  

    .precios__slider{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 50px;
        margin-bottom: 120px;

                @include media900px{
                    grid-template-columns: repeat(2, 1fr);
                }

                @include media600px {
                    display: flex;
                    grid-template-columns: none;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    -webkit-overflow-scrolling: touch;
                    gap: 0rem;
                }

            .slide{
                background-color: $nardo;
                height: 550px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 2.3rem;
                border-radius: 20px;
                

                @include media600px {
                    flex: 0 0 100%;
                    scroll-snap-align: center;
                    width: 100%;
                    max-width: 50vw;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                
            }

            .slide-blue{
                background-color: $mar-ermo;
                h4{
                    color: $blanco-ermo;
                }
                li{
                    color: $blanco-ermo;
                }
                .amarillo{
                color: #F4FF5C;
                font-size: 1.1rem;
            }
                .button{
                    background-color: $blanco-ermo;
                    width: 100%;
                    border-color: $mar-ermo;
                            @include media600px {
                            width: auto;
                            }
                    p{
                        color: $azul-ermo;
                    }
                    .arrow__svg {
                        fill: $azul-ermo;
                    }
                    &:hover{
                        background-color: $azul-ermo;
                        p{
                            color: $blanco-ermo;
                        }
                        .arrow__svg {
                            fill: $blanco-ermo;
                        }
                    }
                }
            }

            .aviso{
                text-align: center;
                font-size: 0.8rem;
                margin-bottom: 20px;
                margin-top: 10px;
                color: #838383;
            }

            .confi_precio{
                color: $blanco-ermo;
            }

            .confi_aviso{
                color: #BCC2FA;
            }
            
            .azul{
                color: $azul-ermo;
                font-size: 1rem;
            }

            .rojo{
                color: #ec6c04;
                font-size: 1rem;
            }
           
    }



    .pagos__master{

        display: flex;
        gap: 40px;
            @include media800px {
                            display: block;
                            padding-left: 3vw;
                            padding-right: 3vw;
                        }

        h4{
            text-align: left;
            margin-bottom: 5px;
            margin-top: 20px;
        }

        p{
            margin-bottom: 25px;
        }

        .pagos__text{
            width: 100%;
            max-width: 40vw;
                @include media800px {
                            max-width: 100%;
                        }
        }

        .pagos__img{
        height: auto;
        width: 40vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
                @include media800px {
                        aspect-ratio: 16 / 7;
                        width: 100%;
                    }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }
    }
    }

}




.dudas__master{

    margin-top: 200px;
    margin-bottom: 100px;
            @include media600px {
                    padding-left: 3vw;
                    padding-right: 3vw;
                }

    .dudas__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 50px;
                

        .duda{
            width: 80%;
                @include media600px {
                        width: 100%;
                    }

            .duda__num{
                font-family: $neue;
                font-size: 3rem;
            }

        }

    }

    h2{
        font-size: 72px;
        font-weight: 400;
        font-family: $owners;
        text-transform: uppercase;
        color: $azul-ermo;
        text-align: left;
        line-height: 64pt;
        letter-spacing: 1px;

        @include media1200px {
            font-size: 40pt;
            line-height: 50pt;
        }

        @include media800px {
            font-size: 35pt;
            line-height: 40pt;
        }
    }

    h3{
            font-family: $neue;
            color: $azul-ermo;
            text-transform: uppercase;
            letter-spacing: -0.5px;
            font-size: 1.6rem;
            margin-bottom: 15px;
            line-height: 1.8rem;
            margin-top: 20px;
        }
}




.plantitas{
    height: auto;
        width: 100%;
        aspect-ratio: 16 / 5;
        object-fit: cover;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
}



.btn_confi{
    display: flex;
    margin: auto;
}